<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @product.image_data %>
</p>

<p>
  <strong>Video data:</strong>
  <%= @product.video_data %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
